.textPageWrapper {
}

.introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cacaca;
  height: 24vh;
}

.introduction h1 {
  font-weight: 500;
}

.textPageContainer {
  margin-block: 4rem;
  line-height: 28px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.textPageContainer h2 {
  margin-bottom: 1rem;
}

.textPageArticle {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  grid-template-columns: 50% 50%;
}
