.textPageWrapper {
}

.introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cacaca;
  height: 24vh;
}

.introduction h1 {
  font-weight: 500;
}

.textPageContainer {
  margin-block: 4rem;
  line-height: 28px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.textPageContainer h2 {
  margin-bottom: 1rem;
}

.textPageArticle {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  grid-template-columns: 50% 50%;
}

.textPageButton {
  background-color: #00adb5;
  padding: 12px 42px;
  border-style: none;
  font-size: 36px;
  margin-top: 2rem;
  transition: background-color 0.2s;
}

.textPageButton:hover {
  background-color: #00ccd6;
}

@media screen and (max-width: 1040px) {
  .textPageArticle {
    flex-direction: column;
  }

  .textPageWrapper {
    text-align: center;
  }
}
