html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

img {
  user-select: none;
}

body {
  background-color: #eeeeee;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #d7d7d7;
}
::-webkit-scrollbar-thumb {
  background: #8b8b8b;
}

::-webkit-scrollbar-thumb:active {
  background: #777777;
}

.content {
  position: relative;
  color: black;
}

#home,
#services,
#about,
#experiences {
  scroll-margin-top: 118px;
}

#home {
  padding-top: 120px;
}

.container {
  max-width: 1420px;
  margin: 0 auto;
  padding-inline: 20px;
}

.swiper-pagination-bullets {
  padding-bottom: 20px !important;
  bottom: -20px !important;
}

.swiper-pagination-bullet-active {
  background: black !important;
}
