.offersWrapper {
  margin-block: 50px;
  border-block: 2px solid #9b9b9b;
  width: 100%;
  display: flex;
  align-items: center;
}

.offersContainer {
  margin-block: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.offerContent {
  width: 100%;
  background-color: #d9d9d9;
  display: flex;
  gap: 15px;
  align-items: center;
  border: 2px solid #6c6c6c;
  padding: 12px 14px 12px 14px;
}

.offerActions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.offerTitle {
  font-size: 24px;
  font-weight: bold;
}

.offerTitle span {
  color: #00adb5;
}

.offerButton {
  border: none;
  background-color: transparent;
  font-size: 16px;
  color: rgb(65, 65, 65);
  cursor: pointer;
}

.offerButton:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {
  .offersContainer {
    grid-template-columns: repeat(2, 1fr); /* Dva u jednom redu */
    grid-template-rows: auto auto; /* Dva reda */
    gap: 20px;
  }

  .offerContent:last-child {
    grid-column: 1 / 3; /* Ovaj stil se primenjuje samo na 1024px i veće */
    justify-self: center;
    align-self: center;
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .offersContainer {
    grid-template-columns: 1fr;
    grid-template-rows: unset;
    gap: 20px;
  }

  .offerContent {
    grid-column: span 1;
    width: 100%;
    gap: 35px;
  }

  .offerContent:last-child {
    grid-column: unset;
    justify-self: center;
    align-self: center;
    width: 100%;
  }
}
