.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  -webkit-box-shadow: 0px 3px 18px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 18px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 18px 0px rgba(0, 0, 0, 0.5);
  width: 100%;
}

.topHeaderWrapper,
.mainHeaderWrapper {
  height: 7vh;
}

.topHeaderWrapper {
  background-color: #222831;
  padding: 4px 0 4px 0;
}

.topHeaderContent {
  padding-block: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.contactInfo {
  font-size: 20px;
}

.contactPhone {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 24px;
}

.mainHeaderWrapper {
  padding: 4px 0 4px 0;
  background-color: #eeeeee;
}

.mainHeaderContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBar ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

.navBar ul li a {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 22px;
  gap: 5px;
  color: black;
}

.navBar ul li a svg,
.navBar ul li a span,
.contactPhone svg,
.contactPhone span {
  transition: all 0.2s ease;
}

.contactPhone svg,
.navBar ul li a svg {
  height: 25px;
  width: 25px;
}

.navBar ul li a:hover svg,
.contactPhone:hover svg {
  fill: #00adb5;
}

.navBar ul li a:hover span,
.contactPhone:hover span {
  color: #00adb5;
}

.logo {
  display: flex;
  gap: 12px;
  align-items: center;
}

.logo a {
  font-size: 36px;
  color: #222831;
  margin-top: 4px;
}

.hamburgerMenu {
  display: none;
}

@media screen and (max-width: 1024px) {
  .navBar {
    display: none;
  }

  .hamburgerMenu {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .contactInfo {
    display: none;
  }

  .topHeaderContent {
    justify-content: center;
  }
}
