.experiencesWrapper {
  height: 86vh;
  background-color: #eeeeee;
}

.experiencesContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block: 25px;
  height: 100%;
}

.experiencesHeading {
  text-align: center;
  font-size: 40px;
}

.experienceContent {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
  background-color: white;
  justify-content: space-between;
  height: 65vh;
  padding: 35px;
  box-shadow: 0px 0px 13px 5px rgba(0, 0, 0, 0.5);
}

.experienceCommas {
  font-size: 100px;
  display: inline-block;
  vertical-align: top;
  line-height: 0;
}

.experienceDescription {
  font-size: 20px;
}

.experienceName {
  font-size: 26px;
  font-weight: 500;
}
